*.swp
*.swo
*.sublime-*
*.pyc
*.vscode
.vscode
__pycache__
tmp
node_modules/
sftp-config.json
.DS_Store
dist/
synonyms.egg-info
.vscode/
build/
synonyms/data/sgns*
output/
synonyms/
search/wiki.zh*
find_service/wiki.zh.bin
find_service/wiki.zh.vec
output/*

